<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated composite -->
      <package
            uri="http://www.mit.bme.hu/gamma/composite/Model/Composite"
            class="hu.bme.mit.gamma.composite.composite.CompositeModelPackage"
            genModel="model/composite.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated composite -->
      <package
            uri="http://www.mit.bme.hu/gamma/composite/Model/Interface"
            class="hu.bme.mit.gamma.composite.interface_.InterfaceModelPackage"
            genModel="model/composite.genmodel"/>
   </extension>
   
</plugin>
